loc_name=Ufa, Russian Federation
lat=54.785198
lon=56.045601
msl=138
timezone=Asia/Yekaterinburg
offset=+05:00
cache_file_max_age=172800
power_saving=true
units_temperature=0
units_pressure=3
units_windspeed=0
units_precipitation=0
units_altitude=0
model_apparent_temperature=0
round=true
single_row=true
tooltip_style=1
forecast_layout=1
forecast_days=10
scrollbox_animate=true
theme_dir=/usr/share/xfce4/weather/icons/liquid
show_scrollbox=true
scrollbox_lines=1
scrollbox_color=rgb(0,0,0)
scrollbox_use_color=false
label0=3
label1=7
label2=5

