@define-color borders_breeze #5e5e5e;
@define-color content_view_bg_breeze #242424;
@define-color error_color_backdrop_breeze #da4453;
@define-color error_color_breeze #da4453;
@define-color error_color_insensitive_backdrop_breeze #5f2d32;
@define-color error_color_insensitive_breeze #5f2d32;
@define-color insensitive_base_color_breeze #222222;
@define-color insensitive_base_fg_color_breeze #606060;
@define-color insensitive_bg_color_breeze #303030;
@define-color insensitive_borders_breeze #3f3f3f;
@define-color insensitive_fg_color_breeze #6a6a6a;
@define-color insensitive_selected_bg_color_breeze #303030;
@define-color insensitive_selected_fg_color_breeze #6a6a6a;
@define-color insensitive_unfocused_bg_color_breeze #303030;
@define-color insensitive_unfocused_fg_color_breeze #6a6a6a;
@define-color insensitive_unfocused_selected_bg_color_breeze #303030;
@define-color insensitive_unfocused_selected_fg_color_breeze #6a6a6a;
@define-color link_color_breeze #315bef;
@define-color link_visited_color_breeze #787878;
@define-color success_color_backdrop_breeze #27ae60;
@define-color success_color_breeze #27ae60;
@define-color success_color_insensitive_backdrop_breeze #235036;
@define-color success_color_insensitive_breeze #235036;
@define-color theme_base_color_breeze #242424;
@define-color theme_bg_color_breeze #333333;
@define-color theme_button_background_backdrop_breeze #656565;
@define-color theme_button_background_backdrop_insensitive_breeze #606060;
@define-color theme_button_background_insensitive_breeze #606060;
@define-color theme_button_background_normal_breeze #656565;
@define-color theme_button_decoration_focus_backdrop_breeze #315bef;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #4f5d8e;
@define-color theme_button_decoration_focus_breeze #315bef;
@define-color theme_button_decoration_focus_insensitive_breeze #4f5d8e;
@define-color theme_button_decoration_hover_backdrop_breeze #315bef;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #4f5d8e;
@define-color theme_button_decoration_hover_breeze #315bef;
@define-color theme_button_decoration_hover_insensitive_breeze #4f5d8e;
@define-color theme_button_foreground_active_backdrop_breeze #dedede;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #6a6a6a;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #6a6a6a;
@define-color theme_button_foreground_backdrop_breeze #dedede;
@define-color theme_button_foreground_backdrop_insensitive_breeze #898989;
@define-color theme_button_foreground_insensitive_breeze #898989;
@define-color theme_button_foreground_normal_breeze #dedede;
@define-color theme_fg_color_breeze #dedede;
@define-color theme_hovering_selected_bg_color_breeze #ffffff;
@define-color theme_selected_bg_color_breeze #315bef;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #dedede;
@define-color theme_titlebar_background_backdrop_breeze #424242;
@define-color theme_titlebar_background_breeze #333333;
@define-color theme_titlebar_background_light_breeze #333333;
@define-color theme_titlebar_foreground_backdrop_breeze #787878;
@define-color theme_titlebar_foreground_breeze #dedede;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #787878;
@define-color theme_titlebar_foreground_insensitive_breeze #787878;
@define-color theme_unfocused_base_color_breeze #242424;
@define-color theme_unfocused_bg_color_breeze #333333;
@define-color theme_unfocused_fg_color_breeze #dedede;
@define-color theme_unfocused_selected_bg_color_alt_breeze #243983;
@define-color theme_unfocused_selected_bg_color_breeze #243983;
@define-color theme_unfocused_selected_fg_color_breeze #dedede;
@define-color theme_unfocused_text_color_breeze #dedede;
@define-color theme_unfocused_view_bg_color_breeze #222222;
@define-color theme_unfocused_view_text_color_breeze #606060;
@define-color theme_view_active_decoration_color_breeze #315bef;
@define-color theme_view_hover_decoration_color_breeze #315bef;
@define-color tooltip_background_breeze #333333;
@define-color tooltip_border_breeze #5e5e5e;
@define-color tooltip_text_breeze #dedede;
@define-color unfocused_borders_breeze #5e5e5e;
@define-color unfocused_insensitive_borders_breeze #3f3f3f;
@define-color warning_color_backdrop_breeze #f67400;
@define-color warning_color_breeze #f67400;
@define-color warning_color_insensitive_backdrop_breeze #683d16;
@define-color warning_color_insensitive_breeze #683d16;
